{% extends "base.html.twig" %}

{% block body %}
    
 <div id="content">
        <div class="container">
            <div class="alert-danger">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
            <div class="container">
                <div class="row margin-vert-30">
                    <!-- Login Box -->
                    <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                        <form action="{{ path("fos_user_security_check") }}" method="post" class="login-page">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="login-header margin-bottom-30">
                                <h2>Login to your account</h2>
                            </div>

                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Username"/>
                            </div>

                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Password" />
                            </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-check-input" />
                                <label for="remember_me" class="form-check-label">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary pull-right" id="_submit" name="_submit" value="Se connecter" />
                            </div>
                        </div>
                        <hr>
                        <h4>Forget your Password ?</h4>
                        <p> <a href="#">Click here</a>to reset your password.</p>
                    </form>
                    </div>
                </div>
            </div>
</div>
{% endblock %}
