{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ post.summary }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ post.user }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                <img class="monImage" src="{{ asset ('uploads/images/posts/')}} {{ post.image }}" </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}

   <h1>Commentaires</h1> 

   {% if is_granted('IS_AUTHENTIFICATED_FULLY')%}
        {{ form_start(form) }}
            {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
        {% else %}
            connectez-vous pour faire des commentaires <a href="fos_user_security_login">Login</a>
    {% endif %}

{% endblock %}
